<?php
session_start();
?>
    <!DOCTYPE html>
    <html ng-app="datosApp">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="recursos/librerias/bootstrap.min.css">
        <script src="recursos/librerias/jquery-3.5.1.slim.min.js"></script>
        <script src="recursos/librerias/popper.min.js"></script>
        <script src="recursos/librerias/bootstrap.min.js"></script>
        <link rel="stylesheet" href="recursos/librerias/styles.scss">

        <!-- Angular -->
        <script type="text/javascript" src="recursos/librerias/angular.min.js"></script>
        <script type="text/javascript" src="controllers/ElementosController.js">
        </script>
        <!-- FORMULARIO MODAL -->
        <!-- // Sirve para pasar contenido HTML -->
        <script src="recursos/librerias/angular-sanitize.js"></script>

    </head>

    <body ng-controller="ElementosController">
        <div id="header-featured">
            <div class="residente">
                <div style="width: 80%; margin-bottom: 2%; display: flex;">
                    <div class="col">
                        <div>
                            <p style="margin: 30px 20px; font-size: 24px;">Ingrese el número de documento del Residente <input type="text" ng-model="dni" value="4985933">
                            </p>
                        </div>
                        <div style="width: 80%; margin-bottom: 2%; margin-left: 20px;">
                            <label>Nombre del Residente: <strong>{{ Nombre }}</strong></label>
                        </div>
                    </div>

                </div>
                <div ng-show="dni" style="width: 20%;padding-top: 6px;">
                    <a href="#" ng-click="CargarDatosResidente(dni);">
                        <img ng-model="imgperfil" class="img-perfil" width="100px;" src="{{imgperfil}}" alt=""><br> Consultar
                    </a>
                </div>
            </div>
            <!--<div ng-show="ID">-->
            <div class="contenedor" style="width: 100%;">
                <div class="carta" ng-hide="!MostrarPanales">

                    <div class="lado frente">
                        <h3>Pañales</h3>
                        <img src="assets/panales.jpg" alt="">
                    </div>

                    <div class="lado atras">
                        <h3>Pañales</h3>
                        <ul>
                            <li>
                                <a href="recursos/pagos/pagar.php?ID={{ID}}" target="_blank">
                                    <input type="button" class="button" value="Detalle" />
                                </a>
                            </li>
                            <li>Cantidad: {{ SaldoPanalesCantidad }} u.</li>
                            <li>Saldo: $ {{ SaldoPanales }}</li>
                        </ul>
                    </div>

                </div>
                <div class="carta" ng-hide="!MostrarDescartables">

                    <div class="lado frente">
                        <h3>Descartables</h3>
                        <img src="assets/sondas.jpg" alt="">
                    </div>

                    <div class="lado atras">
                        <h3>Descartables</h3>
                        <ul>
                            <a href="recursos/pagos/pagarDescartables.php?ID={{ID}}" target="_blank" style="margin-left:30px">
                                <input type="button" class="button" value="Detalle" />
                            </a>
                            <li>Saldo: $ {{ SaldoDescartables }}</li>
                            <!-- <li><input type="button" value="Pagar"></li> -->
                        </ul>
                    </div>

                </div>
                <div class="carta" ng-hide="!MostrarServicios">

                    <div class="lado frente">
                        <h3-min>Servicio Geriátrico</h3-min>
                        <img src="assets/atencion.jpg" alt="">
                    </div>

                    <div class="lado atras">
                        <h5>Servicios Geriátricos</h5>
                        <ul>
                            <a href="recursos/pagos/pagarServicios.php?ID={{ID}}" target="_blank" style="margin-left:30px">
                                <input type="button" class="button" value="Detalle" />
                            </a>
                            <!--<li>Detalle: <input type="button" value="Ver el Detalle" ng-click="Cargar_detalle_servicios(dni);" data-toggle="modal" data-target="#ModalServicios"></li>-->
                            <li>Saldo: $ {{ SaldoServicios }}</li>
                            <!-- <li><input type="button" value="Pagar"></li>-->
                        </ul>
                    </div>

                </div>

                <div class="carta" ng-hide="!MostrarInsumos">

                    <div class="lado frente">
                        <h3>Insumos</h3>
                        <img src="assets/insumos2.jpg" alt="">
                    </div>

                    <div class="lado atras">
                        <h3>Insumos</h3>
                        <ul>
                            <a href="recursos/pagos/pagarInsumos.php?ID={{ID}}" target="_blank" style="margin-left:30px">
                                <input type="button" class="button" value="Detalle" />
                            </a>
                            <!-- <li>Detalle: <input type="button" value="Ver el Detalle" ng-click="Cargar_detalle_insumos(dni);" data-toggle="modal" data-target="#ModalInsumos"></li> -->
                            <li>Saldo: $ {{ SaldoInsumos }}</li>
                            <!-- <li><input type="button" value="Pagar"></li> -->
                        </ul>
                    </div>

                </div>
                <div class="carta" ng-hide="!MostrarAgradecimiento">

                    <div class="lado frente">
                        <h3 style="margin-top: 20px;">Usuario Sin Deuda</h3>

                        <img src="assets/logo_vert.jpg" alt="">
                    </div>

                    <div class="lado atras">
                        <h3>MUCHAS</h3>
                        <h3>GRACIAS!!!</h3>
                    </div>
                </div>
                <div class="carta" ng-hide="!MostrarError">

                    <div class="lado frente">
                        <h3 style="margin-top: 20px;">Usuario Inexistente</h3>

                        <img src="assets/logo_vert.jpg" alt="">
                    </div>

                    <div class="lado atras">
                        <h3>Intente</h3>
                        <h3>Nuevamente</h3>
                    </div>
                </div>
            </div>
            <!--</div>-->
        </div>
    </body>

    </html>