<!DOCTYPE html>
<html ng-app="datosApp">

<head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>-->


    <link rel="stylesheet" href="../recursos/librerias/bootstrap.min.css">
    <script src="../recursos/librerias/jquery-3.5.1.slim.min.js"></script>
    <script src="../recursos/librerias/popper.min.js"></script>
    <script src="../recursos/librerias/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../recursos/librerias/styles.scss">

    <!-- Angular -->
    <script type="text/javascript" src="../recursos/librerias/angular.min.js"></script>
    <script type="text/javascript" src="../controllers/CargarElementos.js"></script>
    <!--<script type="text/javascript" src="ElementosController.js">-->
    </script>

    <!-- FORMULARIO MODAL -->
    <script src="../recursos/librerias/angular-sanitize.js"></script>
</head>

<body ng-controller="CargarElementos" ng-init="CargarResidentes();">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col" style="background: rgb(238,174,202);
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(208,171,206,1) 0%, rgba(109,160,219,1) 40%); border-radius: 10px; border: 1px solid gray">
                <p class="row" style="align-items: center; margin: 30px 20px; font-size: 20px;">CARGA DE ELEMENTOS
                    <img ng-hide="imgstate" class="form-control" src="../assets/sinfoto.png" alt="" style="padding: 4px; width:50px; height:50px; margin-top: 15px; margin-bottom: 15px; margin-left: 15px;">
                    <img ng-show="imgstate" ng-src="{{ residenteDatos.imgstate }}" src="../{{ imgstate }}" style="width:50px; height:50px; margin-top: 15px; margin-bottom: 15px;">
                </p>
                <div>
                    Residente
                    <select class="form-control" ng-model="cmbResidente" ng-change="CargarFoto(cmbResidente);BorrarMensaje();">
                    <option value="" selected></option>
                    <option ng-repeat="residente in residentes | orderBy:'NombrePaciente'" value={{residente.IdPaciente}}>{{ residente.NombrePaciente }}</option>
                    </select>
                </div>
                <div>
                    Elemento
                    <select class="form-control" ng-model="cmbElemento" ng-change="BorrarMensaje();">
                        <option value="" selected></option>
                        <option value="Panales">Pañales</option>
                        <option value="Descartables">Descartables</option>
                        <option value="Servicios">Servicios</option>
                        <option value="Insumos">Insumos</option>
                    </select>
                </div>
                <div>
                    Cantidad
                    <input class="form-control" type="text" ng-model="Cantidad" placeholder="Cantidad" ng-change="BorrarMensaje();">
                </div>
                <div>
                    Fecha
                    <input class="form-control" type="date" ng-model="Fecha" id="Fecha" ng-change="BorrarMensaje();">
                </div>
                <div>
                    Precio Unitario
                    <input class="form-control" type="text" ng-model="Precio" placeholder="Precio Unitario" ng-change="BorrarMensaje();">
                </div>
                <div>
                    Detalle
                    <textarea class="form-control" name="" id="" cols="30" ng-model="Detalle" rows="3" ng-change="BorrarMensaje();"></textarea>
                </div><br>
                <div class="row col-sm-12 justify-content-md-center">
                    <input class="form-control col-sm-5 offset-sm-1 btn btn-success" type="button" value="Agregar" ng-click="AgregarElemento();"><input class="form-control col-5 offset-md-1 btn btn-info" type="button" value="Volver">
                </div>
                <div class="container">
                    <h1 class="display-5">{{ Mensaje }}</h1>
                    <p class="lead"></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12" style="background: rgb(238,174,202);
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(208,171,206,1) 0%, rgba(109,160,219,1) 40%); border-radius: 10px;border: 1px solid gray">
                <!-- https://cssgradient.io/-->
                <form action="upload_image.php" method="POST" enctype="multipart/form-data">
                    <p style="margin: 30px 20px; font-size: 20px;">ACTUALIZAR DATOS RESIDENTE</p>
                    <div>
                        Residente
                        <select class="form-control" ng-model="cmbResidenteDatos" ng-change="CargarFoto(cmbResidenteDatos);">
                            <option value=""></option>
                            <option ng-repeat="residenteDatos in residentes | orderBy:'NombrePaciente'" value={{residenteDatos.IdPaciente}}>{{ residenteDatos.NombrePaciente }}</option>
                        </select>
                    </div>
                    <div>
                        Foto de Perfil
                        <input class="form-control" type="file" name="fileToUpload" id="fileToUpload">
                    </div>
                    <div class="justify-content-md-center offset-sm-3 offset-md-1">
                        <img ng-hide="imgperfil" class="form-control" src="../assets/sinfoto.png" alt="" style="width:285px; height:285px; margin-top: 15px; margin-bottom: 15px;">
                        <img ng-show="imgperfil" ng-src="{{ residenteDatos.imgperfil }}" src="../{{ imgperfil }}" style="width:285px; height:285px; margin-top: 15px; margin-bottom: 15px;">

                    </div>
                    <div class="row col-12 justify-content-md-center">
                        <input class="form-control col-sm-5 offset-sm-1 btn btn-success" type="submit" value="Upload Image" name="submit" ng-click="CargarFoto(cmbResidenteDatos);"><input class="form-control col-5 offset-md-1 btn btn-info" type="button"
                            value="Volver">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>